<template x-if="!gridView">
  <section
    id="edit"
    class="col-8 flex-grow-1 h-100 d-flex flex-column overflow-y-hidden z-0 bg-body"
  >
    <div class="sticky-top bg-white border-bottom">
      <div style="--bs-bg-opacity: 0.2" class="bg-light-subtle text-info">
        <template x-if="selectedEntity !== null">
          <div class="d-flex align-items-center justify-content-between p-2">
            <h1 class="h4 mb-0 text-primary">
              <span x-text="getFullName(selectedEntity)"> </span>
              <span x-text="' - ' + selectedEntity.form.title"></span>
            </h1>
            <div class="btn-group">
              <button
                class="btn btn-outline-primary d-flex align-items-center gap-2"
                @click="saveForm"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-floppy"
                  viewBox="0 0 512 512"
                >
                  <use xlink:href="#far-print"></use>
                </svg>
                Print
              </button>
              <button
                class="btn btn-outline-primary d-flex align-items-center gap-2"
                @click="saveForm"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-floppy"
                  viewBox="0 0 448 512"
                >
                  <use xlink:href="#far-save"></use>
                </svg>
                Save
              </button>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="overflow-y-scroll flex-grow-1" id="editContainer">
      <template x-if="selectedEntity === null">
        <div class="d-flex justify-content-center p-4">
          <span>start from beginning ...</span>
        </div>
      </template>
      <template x-if="selectedEntity !== null">
        <div class="py-0">
          <template
            x-for="(section, sectionIndex) in selectedEntity.form.sections"
            :key="section.title"
          >
            <div
              :x-ref="`scroll-form-section${sectionIndex}`"
              :id="`section${sectionIndex}`"
              class="section spot"
            >
              <div
                :id="`section${sectionIndex}`"
                x-bind:class="sectionIndex ? '' : ''"
                class="section py-3"
              >
                <div class="container-fluid px-0">
                  <div class="row g-0">
                    <div class="col-12 g-0">
                      <div class="d-flex">
                        <div class="flex-grow-1">
                          <h3 x-text="section.title" class="h6 p-2"></h3>
                        </div>
                        <div>
                          {{ partial "form/comments.html" (dict "comments"
                          false) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <template
                  x-for="(field, fieldIndex) in section.fields"
                  :key="field.name"
                >
                  <div
                    x-data="{showFieldHistory: false}"
                    class="w-100 py-2"
                    :class="showHistory ? 'hover-primary-subtile' : ''"
                  >
                    <template x-if="field.type === 'number'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex align-items-startgap-1">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex w-100 align-items-start">
                              <div class="flex-grow-1">
                                <input
                                  type="number"
                                  class="form-control is-invalid"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                                <div
                                  id="validationServerUsernameFeedback"
                                  class="invalid-feedback"
                                >
                                  Please choose a username.
                                </div>
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              true) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'text'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex gap-1">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex w-100 align-items-center">
                              <div class="flex-grow-1">
                                <input
                                  type="text"
                                  class="form-control"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'email'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex gap-1">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-grow-1">
                                <input
                                  type="email"
                                  class="form-control"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'date'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex w-100">
                              <div class="d-flex flex-grow-1">
                                <input
                                  type="date"
                                  class="form-control"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'checkbox'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex gap-1">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-grow-1 pt-2">
                                <input
                                  type="checkbox"
                                  class="form-check-input"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'switch'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-12 g-0">
                            <div class="d-flex">
                              <div class="flex-grow-1 d-flex">
                                {{ partial "history/history-mark.html" . }}
                                <div class="form-check form-switch pt-2">
                                  <input
                                    class="form-check-input mt-1"
                                    type="checkbox"
                                    role="switch"
                                    id="flexSwitchCheckDefault"
                                    :name="field.name"
                                    :value="field.value"
                                    x-model="field.value"
                                    :required="field.required"
                                  />
                                  <label
                                    class="form-check-label"
                                    for="flexSwitchCheckDefault"
                                    x-text="field.label"
                                  ></label>
                                  <span class="text-danger">*</span>
                                  <template x-if="field.required"> </template>
                                </div>
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'radio'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8 pt-1">
                            <div class="d-flex">
                              <div class="flex-grow-1">
                                <template
                                  x-for="option in field.options"
                                  :key="option.value"
                                >
                                  <div class="form-check">
                                    <input
                                      class="form-check-input"
                                      type="radio"
                                      :name="field.name"
                                      :value="option.value"
                                      x-model="field.value"
                                      :required="field.required"
                                    />
                                    <label
                                      class="form-check-label"
                                      x-text="option.label"
                                    ></label>
                                  </div>
                                </template>
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'dropdown'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <div class="d-flex gap-1">
                              {{ partial "history/history-mark.html" . }}
                              <label
                                class="form-label pt-2"
                                x-text="field.label"
                              ></label>
                              {{ partial "form/mandatory.html" . }}
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="d-flex">
                              <div class="flex-grow-1">
                                <select
                                  class="form-select"
                                  :name="field.name"
                                  x-model="field.value"
                                  :required="field.required"
                                >
                                  <template
                                    x-for="option in field.options"
                                    :key="option.value"
                                  >
                                    <option
                                      :value="option.value"
                                      x-text="option.label"
                                      :selected="option.value === field.value"
                                    ></option>
                                  </template>
                                </select>
                              </div>
                              {{ partial "form/comments.html" (dict "comments"
                              false) }}
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'textarea'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-12 g-0">
                            <div class="d-flex">
                              <div class="flex-grow-1 d-flex">
                                {{ partial "history/history-mark.html" . }}
                                <label
                                  class="form-label pt-1"
                                  x-text="field.label"
                                ></label>
                                {{ partial "form/mandatory.html" . }}
                              </div>
                              <div>
                                {{ partial "form/comments.html" (dict "comments"
                                false) }}
                              </div>
                            </div>
                          </div>
                          <div class="col-12 px-2">
                            <textarea
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            ></textarea>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'upload'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-12 g-0">
                            <div class="d-flex">
                              <div class="flex-grow-1 d-flex">
                                {{ partial "history/history-mark.html" . }}
                                <label
                                  class="form-label pt-1"
                                  x-text="field.label"
                                ></label>
                                {{ partial "form/mandatory.html" . }}
                              </div>
                              <div>
                                {{ partial "form/comments.html" (dict "comments"
                                false) }}
                              </div>
                            </div>
                          </div>
                          <div class="col-12 px-0">
                            <div class="container-fluid">
                              <div class="row gap-0 pt-2">
                                <div class="col-10">
                                  <div class="d-flex flex-column gap-2">
                                    <div
                                      class="d-flex flex-column border border-2 border-dashed-1 rounded p-2"
                                    >
                                      <section
                                        class="d-flex align-items-center gap-2"
                                      >
                                        <svg
                                          class="text-danger"
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="14"
                                          height="14"
                                          fill="currentColor"
                                          viewBox="0 0 512 512"
                                        >
                                          <use xlink:href="#far-file-alt"></use>
                                        </svg>
                                        Identity Verification #1
                                        <span class="badge text-bg-danger"
                                          >1/1</span
                                        >
                                      </section>
                                      <section
                                        class="w-100 p-4 d-flex justify-content-center align-items-center"
                                      >
                                        <h4 class="mb-0 text-muted opacity-50">
                                          Drag files here
                                        </h4>
                                      </section>
                                    </div>

                                    <div
                                      class="d-flex flex-column border border-2 border-dashed-1 rounded p-2"
                                    >
                                      <section
                                        class="d-flex align-items-center gap-2"
                                      >
                                        <svg
                                          class="text-danger"
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="14"
                                          height="14"
                                          fill="currentColor"
                                          viewBox="0 0 512 512"
                                        >
                                          <use xlink:href="#far-file-alt"></use>
                                        </svg>
                                        Identity Verification #2
                                        <span class="badge text-bg-danger"
                                          >1/3</span
                                        >
                                      </section>
                                      <section
                                        class="w-100 p-4 d-flex justify-content-center align-items-center"
                                      >
                                        <h4 class="mb-0 text-muted opacity-50">
                                          Drag files here
                                        </h4>
                                      </section>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2">
                                  <div class="d-flex flex-column gap-1">
                                    <button class="btn btn-outline-primary">
                                      Select files
                                    </button>
                                    <!-- <button class="btn btn-outline-primary">
                                      Take a Photo
                                    </button>
                                    <button class="btn btn-outline-primary">
                                      Link Activities
                                    </button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </section>
</template>
