<template x-if="!gridView">
  <section id="edit" class="col-6 flex-grow-1 h-100 d-flex flex-column">
    <div class="sticky-top bg-white shadow shadow-sm">
      <div style="--bs-bg-opacity: 0.1" class="bg-info text-info">
        <template x-if="selectedEntity !== null">
          <div class="d-flex align-items-center justify-content-between p-2">
            <template
              x-for="(section, sectionIndex) in selectedEntity.form.sections"
              :key="section.title"
            >
              <template
                x-for="(field, fieldIndex) in section.fields"
                :key="field.name"
              >
                <template x-if="field.name === 'first_name'">
                  <h1 class="h4 mb-0 text-primary" x-text="field.value"></span>
                </template>
              </template>
            </template>
            <div class="btn-group">
              <button class="btn btn-outline-primary" @click="saveForm">
                Save Form
              </button>
              <button
                class="btn btn-outline-primary d-flex align-items-center gap-2"
                @click="showHistory = !showHistory"
              >
                <span x-show="showHistory">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-clock-history"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"
                    />
                    <path
                      d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"
                    />
                    <path
                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"
                    />
                  </svg>
                </span>
                <span x-show="!showHistory">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-clock-history"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"
                    />
                    <path
                      d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"
                    />
                    <path
                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"
                    />
                  </svg>
                </span>
                History
              </button>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="overflow-y-scroll flex-grow-1" id="editContainer">
      <template x-if="selectedEntity === null">
        <div class="d-flex justify-content-center p-4">
          <span>Please, select entity ...</span>
        </div>
      </template>
      <template x-if="selectedEntity !== null">
        <div class="py-0">
          <template
            x-for="(section, sectionIndex) in selectedEntity.form.sections"
            :key="section.title"
          >
            <div
              :x-ref="`scroll-form-section${sectionIndex}`"
              :id="`section${sectionIndex}`"
              class="section spot"
            >
              <div
                :id="`section${sectionIndex}`"
                x-bind:class="sectionIndex ? 'border-top' : ''"
                class="section py-3"
              >
                <div class="container-fluid px-0">
                  <div class="row g-0">
                    <div class="col-12 g-0">
                      <h3 x-text="section.title" class="p-2"></h3>
                    </div>
                  </div>
                </div>
                <template
                  x-for="(field, fieldIndex) in section.fields"
                  :key="field.name"
                >
                  <div
                    class="w-100 py-2"
                    :class="showHistory ? 'hover-info-subtile' : ''"
                  >
                    <template x-if="field.type === 'number'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                          </div>
                          <div class="col-8 pe-2">
                            <input
                              type="number"
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            />
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'text'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                          </div>
                          <div class="col-8 pe-2">
                            <input
                              type="text"
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            />
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'email'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-8 pe-2">
                            <input
                              type="email"
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            />
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'date'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-8 pe-2">
                            <input
                              type="date"
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            />
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'checkbox'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-8 pe-2">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            />
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'switch'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-12 g-0 px-2">
                            <div class="form-check form-switch">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                id="flexSwitchCheckDefault"
                                :name="field.name"
                                :value="field.value"
                                x-model="field.value"
                                :required="field.required"
                              />
                              <label
                                class="form-check-label"
                                for="flexSwitchCheckDefault"
                                x-text="field.label"
                              ></label>
                              <template x-if="field.required">
                                <span class="text-danger">*</span>
                              </template>
                            </div>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'radio'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-8 pe-2">
                            <template
                              x-for="option in field.options"
                              :key="option.value"
                            >
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  :name="field.name"
                                  :value="option.value"
                                  x-model="field.value"
                                  :required="field.required"
                                />
                                <label
                                  class="form-check-label"
                                  x-text="option.label"
                                ></label>
                              </div>
                            </template>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'dropdown'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-4 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-8 pe-2">
                            <select
                              class="form-select"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            >
                              <template
                                x-for="option in field.options"
                                :key="option.value"
                              >
                                <option
                                  :value="option.value"
                                  x-text="option.label"
                                  :selected="option.value === field.value"
                                ></option>
                              </template>
                            </select>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                    <template x-if="field.type === 'textarea'">
                      <div class="container-fluid px-0 mb-3">
                        <div class="row g-0">
                          <div class="col-12 g-0 px-2">
                            <label
                              class="form-label"
                              x-text="field.label"
                            ></label>
                            <template x-if="field.required">
                              <span class="text-danger">*</span>
                            </template>
                          </div>
                          <div class="col-12 px-2">
                            <textarea
                              class="form-control"
                              :name="field.name"
                              x-model="field.value"
                              :required="field.required"
                            ></textarea>
                          </div>
                        </div>
                        {{ partial "history.html" . }}
                      </div>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </section>
</template>
