<template x-if="gridView">
  <section id="users" class="col-9 gap-0 border-end h-100 d-flex flex-column">
    <div class="overflow-y-scroll flex-grow-1">
      <div class="table-responsive">
        <table class="table users table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Documents</th>
              <th scope="col">Risk</th>
              <th scope="col">KYC Update</th>
              <th scope="col">Something else</th>
              <th scope="col">...</th>
              <th scope="col">...</th>
              <th scope="col">...</th>
            </tr>
          </thead>
          <tbody>
            <template
              x-for="(entity, index) in filteredEntities"
              :key="entity.id"
            >
              <template
                x-for="(section, sectionIndex) in entity.form.sections"
                :key="section.title"
              >
                <template x-if="section.title === 'Basic Info'">
                  <tr
                    tabindex="0"
                    @click="selectEntity(entity.id, index); gridView = false"
                    @keydown.enter="selectEntity(entity.id, index); gridView = false"
                    @keydown.space.prevent="selectEntity(entity.id, index); gridView = false"
                    x-bind:class="index === selectedEntityIndex ? 'active-outline-rounded' : ''"
                  >
                    <td>
                      <span x-text="index"></span>
                    </td>
                    <td>
                      <div>
                        <svg
                          x-show="!entityHasHistory(entity)"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-lightning-charge text-muted opacity-25"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"
                          />
                        </svg>

                        <svg
                          x-show="entityHasHistory(entity)"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-lightning-charge-fill text-primary"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
                          />
                        </svg>
                      </div>
                    </td>
                    <td>
                      <strong
                        class="text-primary"
                        x-text="`${entity.name} ${entity.surname}`"
                      ></strong>
                    </td>
                    <td>
                      <template
                        x-for="(field, fieldIndex) in section.fields"
                        :key="field.name"
                      >
                        <template x-if="field.name === 'contact_type'">
                          <span
                            class="text-capitalize"
                            x-text="field.value"
                          ></span>
                        </template>
                      </template>
                    </td>
                    <td>
                      <span class="me-2">
                        <template
                          x-for="(field, fieldIndex) in section.fields"
                          :key="field.name"
                        >
                          <template x-if="field.name === 'documents_uploaded'">
                            <span
                              class="d-flex align-items-center gap-1"
                              x-bind:class="{
                                      'text-danger': field.value * 1 === 0,
                                      'text-black': field.value * 1 > 0 && field.value * 1 < 6,
                                      'text-success': field.value * 1 === 6
                                    }"
                            >
                              <template x-if="field.value * 1 === 6">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  fill="currentColor"
                                  class="bi bi-check2-square"
                                  viewBox="0 0 16 16"
                                >
                                  <path
                                    d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"
                                  />
                                  <path
                                    d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"
                                  />
                                </svg>
                              </template>
                              <span x-text="field.value"></span> /
                              <span>6</span>
                            </span>
                          </template>
                        </template>
                      </span>
                    </td>
                    <td>
                      <template
                        x-for="(field, fieldIndex) in section.fields"
                        :key="field.name"
                      >
                        <template x-if="field.name === 'risk_level'">
                          <div class="d-flex align-items-center gap-1">
                            <template x-if="field.history.length > 0">
                              <button
                                class="plain-button d-flex align-items-center text-warning-emphasis"
                                x-tooltip="Updated"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="14"
                                  height="14"
                                  fill="currentColor"
                                  class="bi bi-exclamation-circle"
                                  viewBox="0 0 16 16"
                                >
                                  <path
                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                                  />
                                  <path
                                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
                                  />
                                </svg>
                              </button>
                            </template>

                            <span
                              class="text-uppercase badge"
                              style="--bs-bg-opacity: 1"
                              x-text="field.value"
                              x-bind:class="{
                                    'bg-danger-subtle text-danger': field.value === 'heigh',
                                    'text-bg-light': field.value === 'medium',
                                    'bg-success-subtle text-success': field.value === 'low'
                                  }"
                            >
                            </span>
                          </div>
                        </template>
                      </template>
                    </td>
                    <td>
                      <template
                        x-for="(field, fieldIndex) in section.fields"
                        :key="field.name"
                      >
                        <template x-if="field.name === 'kycu'">
                          <span>
                            <span x-text="field.value"></span>
                          </span>
                        </template>
                      </template>
                    </td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                </template>
              </template>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>
<template x-if="!gridView">
  <section id="users" class="col-3 gap-0 border-end h-100 d-flex flex-column">
    <div class="overflow-y-scroll flex-grow-1">
      <div class="d-flex flex-column gap-3 p-2">
        <template x-for="(entity, index) in filteredEntities" :key="entity.id">
          <div class="w-100 d-flex flex-column position-relative">
            <button
              class="cursor-pointer rounded shadow shadow-sm d-block user px-0"
              style="--bs-bg-opacity: 0.08"
              x-bind:class="index === selectedEntityIndex ? 'bg-primary active' : ''"
              @click="selectEntity(entity.id, index)"
              :x-ref="`entity-${index}`"
              x-ref="`entity-${index}`"
            >
              <div
                class="px-2 py-2 w-100 d-flex justify-content-start flex-column text-start"
                x-bind:class="index ? 'xborder-top' : ''"
              >
                <template
                  x-for="(section, sectionIndex) in entity.form.sections"
                  :key="section.title"
                >
                  <template x-if="section.title === 'Basic Info'">
                    <section>
                      <header>
                        <template
                          x-for="(field, fieldIndex) in section.fields"
                          :key="field.name"
                        >
                          <div class="d-flex w-100">
                            <template x-if="field.name === 'first_name'">
                              <div
                                class="d-flex justify-content-between align-items-center pb-2 w-100"
                              >
                                <strong
                                  class="text-primary"
                                  x-text="field.value"
                                ></strong>
                                <div>
                                  <button
                                    class="plain-button"
                                    x-tooltip="No updates"
                                    x-show="!entityHasHistory(entity)"
                                  >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="16"
                                      height="16"
                                      fill="currentColor"
                                      class="text-muted opacity-25"
                                      viewBox="0 0 16 16"
                                    >
                                      <use xlink:href="#far-arrow-flag"></use>
                                    </svg>
                                  </button>
                                  <button
                                    class="plain-button"
                                    x-tooltip="Updated"
                                    x-show="entityHasHistory(entity)"
                                  >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="16"
                                      height="16"
                                      fill="currentColor"
                                      class="bi bi-lightning-charge-fill text-primary"
                                      viewBox="0 0 16 16"
                                    >
                                      <use xlink:href="#fas-arrow-flag"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </template>
                          </div>
                        </template>
                      </header>
                      <main>
                        <div class="row py-1">
                          <div class="col-6">
                            <div class="d-flex flex-column gap-1">
                              <small class="text-muted"> Contact type </small>
                              <template
                                x-for="(field, fieldIndex) in section.fields"
                                :key="field.name"
                              >
                                <template x-if="field.name === 'contact_type'">
                                  <span
                                    class="text-capitalize"
                                    x-text="field.value"
                                  ></span>
                                </template>
                              </template>
                            </div>
                          </div>
                          <div class="col-6">
                            <template
                              x-for="(field, fieldIndex) in section.fields"
                              :key="field.name"
                            >
                              <template x-if="field.name === 'risk_level'">
                                <div class="d-flex flex-column gap-1">
                                  <div class="d-flex">
                                    <small class="text-muted">
                                      Risk level
                                    </small>
                                  </div>
                                  <div class="d-flex align-items-center">
                                    <template x-if="field.history.length > 0">
                                      <button
                                        class="plain-button d-flex align-items-center text-info-emphasis"
                                        x-tooltip="Updated"
                                      >
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          width="14"
                                          height="14"
                                          fill="currentColor"
                                          viewBox="0 0 16 16"
                                        >
                                          <use
                                            xlink:href="#fas-arrow-flag"
                                          ></use>
                                        </svg>
                                      </button>
                                    </template>
                                    <span
                                      class="text-uppercase badge"
                                      style="--bs-bg-opacity: 1"
                                      x-text="field.value"
                                      x-bind:class="{
                                      'bg-danger-subtle text-danger-emphasis': field.value === 'heigh',
                                      'bg-warning-subtle text-warning-emphasis': field.value === 'medium',
                                      'bg-success-subtle text-success-emphasis': field.value === 'low'
                                    }"
                                    >
                                    </span>
                                  </div>
                                </div>
                              </template>
                            </template>
                          </div>
                        </div>
                        <div class="row py-1">
                          <div class="col-6">
                            <template
                              x-for="(field, fieldIndex) in section.fields"
                              :key="field.name"
                            >
                              <template x-if="field.name === 'dob'">
                                <span>
                                  <small class="text-muted">
                                    KYC Update:
                                  </small>
                                  <br />
                                  <span x-text="field.value"></span>
                                </span>
                              </template>
                            </template>
                          </div>
                          <div class="col-6">
                            <template
                              x-for="(field, fieldIndex) in section.fields"
                              :key="field.name"
                            >
                              <template x-if="field.name === 'kycu'">
                                <span>
                                  <small class="text-muted">
                                    KYC Last Update:
                                  </small>
                                  <br />
                                  <span x-text="field.value"></span>
                                </span>
                              </template>
                            </template>
                          </div>
                        </div>
                        <div class="row py-1">
                          <div class="col-6">
                            <template
                              x-for="(field, fieldIndex) in section.fields"
                              :key="field.name"
                            >
                              <template
                                x-if="field.name === 'documents_uploaded'"
                              >
                                <div class="d-flex flex-column gap-1">
                                  <small class="text-muted"
                                    >Doc. Uploaded</small
                                  >

                                  <div>
                                    <span
                                      class="badge"
                                      x-bind:class="{
                                        'bg-danger-subtle text-danger-emphasis': field.value * 1 === 0,
                                        'bg-info-subtle text-info-emphasis': field.value * 1 > 0 && field.value * 1 < 6,
                                        'bg-success-subtle text-success-emphasis': field.value * 1 === 6
                                      }"
                                    >
                                      <span
                                        x-text="field.value + ' / 6'"
                                      ></span>
                                    </span>
                                  </div>
                                </div>
                              </template>
                            </template>
                          </div>
                          <div class="col-6">
                            <template
                              x-for="(field, fieldIndex) in section.fields"
                              :key="field.name"
                            >
                              <template x-if="field.name === 'stage'">
                                <div class="d-flex flex-column">
                                  <small class="text-muted"> Stage: </small>
                                  <span
                                    class="text-capitalize"
                                    x-text="field.value"
                                  ></span>
                                </div>
                              </template>
                            </template>
                          </div>
                        </div>
                      </main>
                    </section>
                  </template>
                </template>
              </div>
            </button>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>
