<section id="users" class="col-3 gap-0 border-end h-100 d-flex flex-column">
  <div class="overflow-y-scroll flex-grow-1">
    <div class="d-flex flex-column gap-3 p-2">
      <template x-for="(entity, index) in filteredEntities" :key="entity.id">
        <div class="w-100 d-flex flex-column position-relative">
          <button
            class="cursor-pointer rounded shadow shadow-sm d-block user pb-button"
            style="--bs-bg-opacity: 0.05"
            x-bind:class="index === selectedEntityIndex ? 'bg-info active' : ''"
            @click="selectEntity(entity.id, index)"
            :x-ref="`entity-${index}`"
            x-ref="`entity-${index}`"
          >
            <div
              class="px-2 py-3 w-100 d-flex justify-content-start flex-column text-start"
              x-bind:class="index ? 'xborder-top' : ''"
            >
              <template x-if="entity.type === 'person'">
                <div
                  class="d-flex justify-content-between align-items-center pb-2"
                >
                  <strong
                    class="text-primary"
                    x-text="`${entity.name} ${entity.surname}`"
                  ></strong>
                  <div>
                    <svg
                      x-show="!entityHasHistory(entity)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-lightning-charge text-muted opacity-25"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"
                      />
                    </svg>

                    <svg
                      x-show="entityHasHistory(entity)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-lightning-charge-fill text-primary"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
                      />
                    </svg>
                  </div>
                </div>
              </template>
              <template x-if="entity.type === 'corporation'">
                <strong x-text="entity.name"></strong>
              </template>
              <div class="row" style="--bs-bg-opacity: 1">
                <div class="col-6 py-2">Manager</div>
                <div class="col-6 py-2">
                  <span class="badge text-bg-light me-2">4</span>
                  Mandatory Doc.
                </div>
              </div>
              <div class="row">
                <div class="col-6 py-2">
                  Risc Level
                  <strong> Low </strong>
                </div>
                <div class="col-6 py-2">
                  KYC Update
                  <strong> 12/06/2024 </strong>
                </div>
              </div>

              <!-- 20 to 2 entity -->
              <!-- <div class="wysiwyg">
                <p>
                  <strong> Stage: </strong>
                  
                  <span x-text="entity.stage"></span>
                </p>
                <p>more info if available</p>
              </div> -->
            </button>
            <div class="row position-absolute overlay-button">
              <div class="col">
                <button class="btn btn-link">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-three-dots"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</section>
