<section
  class="tile-card d-flex flex-column overflow-hidden h-100 w-100 border rounded bg-white"
>
  <header class="p-2 bg-light">
    <strong
      x-text="widget.title ? widget.title : ['Details widget name' + widgetIndex]"
    >
    </strong>
  </header>
  <div class="flex-grow-1 overflow-y-auto border-top scroll-thin w-100">
    <div class="card-data">
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Title </span>
        </div>
        <div class="card-dataVal">
          <span> Mrs</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> First Name(s) </span>
        </div>
        <div class="card-dataVal">
          <span> Lucy</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Gender </span>
        </div>
        <div class="card-dataVal">
          <span> Female</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Surname </span>
        </div>
        <div class="card-dataVal">
          <span> Jackson</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Marital Status </span>
        </div>
        <div class="card-dataVal">
          <span> Married</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Date of Birth </span>
        </div>
        <div class="card-dataVal">
          <span> 12/12/1984</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Age </span>
        </div>
        <div class="card-dataVal">
          <span> 39</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Place of birth </span>
        </div>
        <div class="card-dataVal">
          <span> United Kingdom</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Country of birth </span>
        </div>
        <div class="card-dataVal">
          <span> United Kingdom</span>
        </div>
      </div>
      <div class="card-dataItem border-bottom p-2 d-flex">
        <div class="card-dataLabel">
          <span class="text-muted"> Currency </span>
        </div>
        <div class="card-dataVal">
          <span> Pound Sterling</span>
        </div>
      </div>
    </div>
  </div>
</section>
