<section
  class="tile-card d-flex bg-white flex-column overflow-hidden h-100 w-100 border rounded left-border"
>
  <header class="d-flex">
    <div class="d-flex py-3 px-3 text-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
        />
      </svg>
    </div>
    <div class="flex-grow-1 d-flex align-items-center ">
      <div class="d-flex flex-column">
        <strong x-text="widget.title ? widget.title : 'Long Kpi Name'">
        </strong>

        <span class="h3 text-primary fw-normal mb-0"> £ 158 </span>
      </div>
    </div>
  </header>
</section>
