<section class="d-flex flex-column overflow-hidden h-100 w-100 border rounded">
  <header class="p-2 bg-light">
    <strong> Widget 1 (timeline)</strong>
  </header>
  <div class="flex-grow-1 overflow-hidden border-top">
    <div class="h-100 overflow-y-auto scroll-thin">
      <ol class="list-group list-group-numbered rounded-0">
        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>

        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>

        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>

        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>

        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>

        <li
          class="list-group-item border-x-none border-top-0 d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-success rounded-pill">0</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-danger rounded-pill">69</span>
        </li>
        <li
          class="list-group-item border-x-none d-flex justify-content-start align-items-start"
        >
          <div class="ms-2 d-flex flex-column flex-grow-1">
            <small class="text-muted">Subheading</small>
            Content for list item
          </div>
          <span class="badge text-bg-warning rounded-pill">+99</span>
        </li>
      </ol>
    </div>
  </div>
</section>
